<h1><%= params[:game_id] %></h1>

<h2>Home Team:</h2>
<p>Team: <%= @home_team[:name] %></p>
<p>Goals: <%= @home_team[:goals] %></p>
<p>Shots: <%= @home_team[:shots] %></p>
<p>Hits: <%= @home_team[:hits] %></p>

<h2>Away Team:</h2>
<p>Team: <%= @away_team[:name] %></p>
<p>Goals: <%= @away_team[:goals] %></p>
<p>Shots: <%= @away_team[:shots] %></p>
<p>Hits: <%= @away_team[:hits] %></p>
